article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

html{ margin:0; padding:0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 62.5%; font-family: 'Brandon Grotesque', "Helvetica Neue", Helvetica, Arial, sans-serif; }

@font-face { font-family: Brandon Grotesque; src: url('../../Brandon-Grotesque/Brandon_reg.otf'); } 
@font-face { font-family: Brandon Grotesque; font-weight: bold; src: url('../../Brandon-Grotesque/Brandon_blk.otf');}
@font-face { font-family: Brandon Grotesque; font-weight: 500; src: url('../../Brandon-Grotesque/Brandon_med.otf');}
@font-face { font-family: Calluna; src: url('../../Calluna/Calluna-Regular.otf');}

h1,h2,h3,h4 { padding:0; margin:0; }

p { padding:0; margin:0; font-family: 'Calluna', serif; }

// HOME & HEADER

// Mobile at 768px

header {
	height:100vh;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url('../../assets/hover/landingPage.svg');
	background-size: cover;
	overflow:hidden;
	@media(max-width: 950px){
		background-position: center;
	}
	@media (max-width: 768px){
		flex-direction: column;
	}
	nav {
		position:absolute;
		top: 0;
		left:0;
		right:0;
		display:flex;
		justify-content: center;
		height:100px;
		@media (max-width:768px) {
			display:none;
		}
	}
	ul {
		display:flex;
		align-items: center;
		padding: 0;
		margin:0;
		position: absolute;
		right:0;
		height:100%;
		li {
			list-style:none;
			margin-right: 40px;
			font-size: 6rem;
			font-style: italic;
			font-weight: 500;
			a{
				text-decoration: none;
				color: black;
				-webkit-text-fill-color: rgba(0,0,0,0);
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: black;
			}
			a:hover{
				text-decoration: underline;
				color:black;
				-webkit-text-fill-color: black; 
				text-shadow: none;
			}
		}
		li:nth-of-type(4) {
			margin-right: 60px;
			@media (max-width:550px) {
				margin:0;
			}
		}
	}
	.titles {
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media (max-width: 768px){
			top: 21%;
		}
		h1 {
			font-size:7rem;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 7rem;
			@media (max-width:450px) {
				font-size: 5rem;
				line-height:5rem;
			}
		}
		h2 {
			font-size: 4rem;
			font-weight: 500;
			@media (max-width:768px) {
				max-width: 350px;
				line-height: 4rem;
				font-style: italic;
			}
			@media (max-width:450px) {
				font-size: 2.4rem;

			}
		}
	}
	.mobileUL {
		display:none;
		@media (max-width:768px) {
			display:block;
		}
		ul {
			display:flex;
			flex-direction: column;
			align-items: center;
			padding: 0;
			margin:0;
			position: relative;
			li {
				list-style:none;
				margin: 0;
				font-size: 6rem;
				font-style: italic;
				font-weight: 500;
				line-height: 6rem;
				a{
					line-height: 6rem;
				}
			}
		}
	}
	// .fill {
	// 	position: absolute;
	// 	z-index: -10;
	// }
	// .fill1{
	// 	top:65.09px;
	// 	left:171.87px;
		
	// }
	// .aboutFill1 {
	// 	width:546.83px;
	// 	height:595.22px;
	// 	z-index:-8;
	// 	svg{
	// 		filter: drop-shadow( 5px 9px 6px rgba(67,66,66,1));
	// 		overflow: visible !important;
	// 	}
	// }
	// .fill2{
	// 	top:555px;
	// 	left:0;
	// }
	// .fill3{
	// 	left:706px;
	// 	top:581px;
	// }
	// .fill4{
	// 	left:774px;
	// 	top:0;
	// }
}

#aboutHeader {
	background: url('../../assets/hover/About.svg');
	background-size: cover;
	@media(max-width: 950px){
		background-position: center center;
	}
}

#blogHeader {
	background: url('../../assets/hover/Blog.svg');
	background-size: cover;
	@media(max-width: 950px){
		background-position: center center;
	}
}

#contactHeader {
	background: url('../../assets/hover/Contact.svg');
	background-size: cover;
	@media(max-width: 950px){
		background-position: center center;
	}
}

#projectsHeader {
	background: url('../../assets/hover/Projects.svg');
	background-size: cover;
	@media(max-width: 950px){
		background-position: center center;
	}
}

// TWO COLUMNS SECTION

.twoColumns {
	width:100%;
	height:auto;
	position: relative;
	.leftColumn {
		position: absolute;
		left:0;
		top:0;
		bottom:0;
		max-width: 500px;
		width:50%;
		border-right: solid 10px black;
		height:100vh;
		@media (max-width: 1000px){
			max-width: 50%;
		}
		@media (max-width: 768px){
			display:flex;
			justify-content: space-between;
			align-items: center;
			bottom:auto;
			right:0;
			height: auto;
			border-right: none;
			border-bottom: solid 10px black;
			padding:15px 35px;
			max-width: 100%;
			width:100%;
		}
		.pageTitle {
			display:none;
			@media (max-width: 768px) {
				font-family: 'Brandon Grotesque', "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-style: italic;
				font-weight: 500;
				display:block;
				font-size: 6rem;
				line-height: 5rem;
				border-bottom: 3px solid black;
				color: black;
				-webkit-text-fill-color: rgba(0,0,0,0);
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: black;
			}
		}
		.burger {
			width:40px;
			display:flex;
			flex-direction: column;
			.burgerLine{
				width:100%;
				border:1px solid black;
				margin:5px 0;
			}
		}
		.burger:hover {
			cursor: pointer;
		}
		.hidden {
			display:none;
		}
		ul {
			display:flex;
			align-items: center;
			flex-direction: column;
			padding: 115px 0;
			margin:0;
			width:100%;
			@media (max-width: 768px){
				position:absolute;
				right:35px;
				top:73px;
				padding: 0;
				width: auto;
				align-items: flex-end;
				background:rgba(255,255,255,0.9);
				padding:10px;
				box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
				border-radius: 5px;
			}
			li {
				list-style:none;
				font-size: 6rem;
				font-style: italic;
				font-weight: 500;
				line-height: 0;
				padding:40px 0;
				display: flex;
				align-items: center;
				@media (max-width: 768px){
					line-height: 4rem;
					padding:0;
					align-items: flex-start;
				}
				a{
					text-decoration: none;
					color: black;
					-webkit-text-fill-color: rgba(0,0,0,0);
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: black;
					@media (max-width: 768px){
						line-height: auto;
					}
				}
				a:hover{
					text-decoration: underline;
					color:black;
					-webkit-text-fill-color: black; 
					text-shadow: none;
				}
			}
		}
	}
	.leftColumnAbout{
		background: url('../../assets/svg/page1.png');
		background-size: cover;
		@media (max-width: 768px){
			background-size: 130%;
			background-position: center 35%;
		}
	}
	.rightColumn {
		width: calc(100% - 500px);
		margin-left: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 1000px){
			width: 50%;
			margin-left: 50%;
		}
		@media (max-width: 768px){
			width: 100%;
			margin-left: 0;
		}
	}
}

.innerRightColumnAbout {
	padding: 120px 0;
	max-width: 650px; 
	@media (max-width: 1160px){
		padding: 120px 5px;
	}
	@media(max-width: 768px) {
		margin-top:130px;
		padding: 0 35px;
	}
	@media(max-width: 500px) {
		margin-top:95px;
		padding: 0 15px;
	}
	div {
	}
	p {
		font-size: 2rem;
		em {
			font-size: 2rem;
		}
	}
	p:nth-of-type(2) {
		margin:30px 0;
	}
	.mainP {
		font-size: 3rem;
		font-family: "Calluna", serif;
	}
	.mainP:nth-of-type(2){
		width:50%;
	}
	.servicesAbout {
		display:flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 100px;
		@media(max-width: 768px) {
			margin:30px 0;
		}
		ul {
			width:50%;
			margin:0;
			padding: 0;
			li {
				list-style: none;
				font-size: 3rem;
				font-family: "Calluna", serif;
			}
		}
	}
}

.hidden {
	display:none;
}